# Environments
.env
*.local
.env.*

# Databases
*.db
*.sqlite3

# Node Dependencies
node_modules
dist
dist-ssr

# Python
__pycache__/
*.py[cod]
*$py.class

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
